<!DOCTYPE html>
<html lang="en">
<head>
    <title>好云商-后台管理</title>
    @@include("shared/global-meta.html")
    <!-- 引入全局样式 -->
    <!-- 全局样式 -->
    @@include("shared/global-import-css.html")
    <!-- 引入全局插件样式 -->
    <!-- 全局插件样式 -->
    @@include("shared/global-import-plugins-css.html")
    <!-- 全局主题样式 -->
    <link rel="stylesheet" href="../../plugin/pager/css/pager.css">
    <link rel="stylesheet" href="../../plugin/cropper/cropper.min.css">
    <link rel="stylesheet" href="../../css/decorationCollection.css">
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
        <!-- 顶部Bar开始 -->
       @@include("shared/header.html")
        <!-- 顶部Bar结束 -->
        <div class="clearfix"></div>
        <!-- 页面中间部分内容开始 -->
        <div class="page-container">
            <!-- 侧边栏开始 -->
            @@include("shared/operatesliderbar.html")
            <!-- 侧边栏结束 -->
            <!-- 页面主内容开始 -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar no-border">
                        <h1 class="page-title bold">装修宝典</h1>
                    </div>
                    <div class="row m-heading-1 border-default m-bordered inpSel">
                        <form id="queryListForm" class="col-sm-12">
                            <div class="col-sm-2">
                                <input typle="text" class="form-control input-sm" placeholder="请输入文章标题" name="title">
                            </div>
                            <div class="col-sm-2 col-xs-4">
                                <select id="selectOne" class="form-control input-sm select2-multiple select2-hidden-accessible" tabindex="-1" aria-hidden="true" name="firstId">
                                    <option value="">请选择一级类目</option>
                                </select>
                            </div>
                            <div class="col-sm-2 col-xs-4">
                                <select id="selectTwo" class="form-control input-sm select2-multiple select2-hidden-accessible" tabindex="-1" aria-hidden="true" name="secondId">
                                    <option value="">请选择二级类目</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <input typle="text" name="remark" class="form-control input-sm" placeholder="请输入备注" name="remark">
                            </div>
                            <div class="btn-group btn-group-devided col-sm-1 col-xs-2" data-toggle="buttons">
                                <button type="button" class="btn dark btn-outline pull-right" id="btnQuery"><i class="fa fa-search"></i>&nbsp;查询</button>
                            </div>
                        </form>
                    </div>
                    <!-- 活动查询框结束 -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- 表格开始-->
                            <div id="Header" class="portlet light bordered" style="min-height:600px; height:auto!important;
                            height:600px;">
                                <div class="portlet-title">
                                    <button class="btn green btn-outline allSelect">全选</button>
                                    <button class="btn green btn-outline cancelSelect">取消全选</button>
                                    <button class="btn dark btn-outline toggle-disabled"  disabled id="deleteAll" data-toggle="modal" href="#delete">批量删除</button>
                                    <button class="btn dark btn-outline toggle-disabled" disabled  data-toggle="modal" id="linkSpace" href="#addSubclass"
                                    style="margin-right: 200px;">批量追加关联到目录</button>
                                    <a class="btn dark pull-right" href="editArticle.html">+新建文章</a>
                                    </div>
                                <div class="portlet-body" style="min-height:700px; height:auto!important;
                            height:500px; position: relative;padding-bottom: 70px;">
                                    <table id="articleList" class="table table-striped table-bordered table-hover table-header-fixed table-layout">
                                        <thead>
                                            <tr class="table-header">
                                                <th width="3%">#</th>
                                                <th width="5%" class="theSort" style="cursor: pointer">排序号↓</th>
                                                <th width="16%">文章标题</th>
                                                <th width="10%">二级类目</th>
                                                <th class="updateTime theDate" style="cursor: pointer" width="10%">更新时间↓</th>
                                                <th class="clickNumber" width="7%">是否有文案</th>
                                                <th width="15%">备注</th>
                                                <th width="15%">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                    <div class="row" style="position: absolute;bottom:0;right: 0;">
                                        <span id="pager" class="pager pull-right">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- 表格结束 -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- 页面主内容结束 -->
        </div>
        <!-- 页面中间内容部分结束 -->
        <!-- 页脚开始 -->
        @@include("shared/footer.html")
        <!-- 页脚结束 -->
    </div>
    </div>
    <!--选择并关联二级类目弹窗-->
    <div class="modal fade bs-modal-lg" id="addSubclass" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title bold">选择二级目录</h4>
                </div>
                <div class="modal-body portlet light bordered">
                    <div id="Header2">

                    </div>
                    <div>
                        <button class="btn green isGuanlian">确认关联</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--选择并关联二级类目-->
    <script id="addLei" type="text/html">
        {{each data as value i}}
        <h3 data-id="{{value.Fid}}">{{value.FTitle}}</h3>
            <div class="container">
                {{each value.list as item i}}
                <button class="btn" title="{{item.Title}}" data-id="{{item.Id}}" value="0">{{item.Title}}</button>
                {{/each}}
            </div>
        {{/each}}
    </script>
    <!--替换弹窗-->
    <div class="modal fade" id="replace" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 450px;">
                <div class="modal-header ui-draggable-handle">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">替换</h4>
                </div>
                <div class="modal-body" style="padding:33px 0 0 100px;height: 100px;">
                    <span style="font-size: 16px;margin-right: 10px;"></span>与
                    <input type="text" placeholder="请输入要替换文章的排序号" style="width: 200px;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" style="margin-right: 20px;" data-dismiss="modal">关闭</button>
                    <button type="button" id="saveCategory" class="btn green">保存</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--是否删除弹窗-->
    <div class="modal fade bs-modal-sm" id="deleteArt" tabindex="-1" role="dialog" aria-hidden="true" style="display: none">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body"> 确定删除吗？ </div>
                <div class="modal-footer no-border">
                    <button type="button"  class="btn dark confirmDelete" data-func="confirmDelete">确定</button>
                    <button type="button" class="cancel btn dark btn-outline" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!--是否批量删除弹窗-->
    <div class="modal fade bs-modal-sm" id="delete" tabindex="-1" role="dialog" aria-hidden="true" style="display: none">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body"> 确定删除吗？ </div>
                <div class="modal-footer no-border">
                    <button type="button"  class="btn dark confirmDelete" data-func="confirmDelete">确定</button>
                    <button type="button" class="cancel btn dark btn-outline" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <script id="loadArticle" type="text/html">
        {{each data as value i}}
            <tr data-id="{{value.Id}}" data-sort='{{value.Sort}}'>
                <td>
                    <label class="mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" value="1" a="0">
                        <span></span>
                    </label>
                </td>
                <td>
                    {{value.Sort}}
                </td>
                <td class="text-overflow" title="{{value.Title}}">{{value.Title}}</td>
                <td class="text-overflow" title="{{value.secondName}}">{{value.secondName}}</td>
                <td class="text-overflow" title="{{value.UpdateTime}}">{{value.UpdateTime}}</td>
                <td>
                    {{ if value.HaveArtPlan == 1}}
                        无
                    {{/if}}
                    {{ if value.HaveArtPlan != 1}}
                        有
                    {{/if}}
                </td>
                <td class="text-overflow" title="{{value.Remark}}">{{value.Remark}}</td>
                <td>
                    <a data-func="edit" href="{{'editArticle.html?id='+value.Id}}">编辑</a>&nbsp;&nbsp;
                    <a class="replace" data-toggle="modal" href="#replace">替换</a>&nbsp;&nbsp;
                    <a data-func="del" class="massageDelete" data-toggle="modal" href="#deleteArt">删除</a>&nbsp;&nbsp;
                    {{ if value.HaveArtPlan == 1}}
                    <a data-func="article" href="{{'creativeCopywriter.html?id='+value.id}}">创作文案</a>
                    {{/if}}
                    {{ if value.HaveArtPlan != 1}}
                    <a data-func="article" class="isDisabled" href="{{'creativeCopywriter.html?id='+value.id}}">创作文案</a>
                    {{/if}}
                </td>
            </tr>
        {{/each}}
    </script>
    <!--一级类目-->
    <script id="optionOne" type="text/html">
        {{each data as value i}}
        <option value="{{value.Id}}">{{value.title}}</option>
        {{/each}}
    </script>
    <!--二级类目-->
    <script id="optionTwo" type="text/html">
        {{each data as value i}}
        <option value="{{value.Id}}">{{value.title}}</option>
        {{/each}}
    </script>
    <!-- 页面内容结束 -->
    <!-- 载入全局依赖js -->
<script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../assets/global/scripts/app.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="../../assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="../../plugin/artTemplate/template.js"></script>
<script src="../../plugin/draggabilly/draggabilly.pkgd.min.js"></script>
<script src="../../js/config.js"></script>
<script src="../../js/utils.js"></script>
<script src="../../js/jquery.extend.js"></script>
<script src="../../plugin/toastr/toastr.js"></script>
<script src="../../plugin/jquery-validate/jquery.validate.js"></script>
<script src="../../js/common.js"></script>


    <!-- 本页面依赖组件初始化 -->
    <script src="../../plugin/pager/jquery-pager.js"></script>
    <script src="../../js/renovationImg/renovationImgList.js"></script>
    <!-- 上传图片脚本 -->
    <script src="../../plugin/qCloud/cos-js-sdk-v4.js"></script>
    <script src="../../plugin/qCloud/crypto.js"></script>
    <script src="../../plugin/qCloud/qCloud.js"></script>
    <script src="../../plugin/upload/cropper.js"></script>
    <script src="../../plugin/upload/qcloud-cropper.js"></script>
    <script src="../../js/decorationCollection/decorationCollectionList.js"></script>
    <script>
        //页面页码模块
        var decorationCollectionList =new DecorationCollectionList();
        decorationCollectionList.create();
    </script>
</body>

</html>
