<!DOCTYPE html>
<html lang="en">
<head>
    <title>好云商-后台管理</title>
    @@include("shared/global-meta.html")
    <!-- 引入全局样式 -->
    <!-- 全局样式 -->
    @@include("shared/global-import-css.html")
    <!-- 引入全局插件样式 -->
    <!-- 全局插件样式 -->
    @@include("shared/global-import-plugins-css.html")
    <!-- 全局主题样式 -->
    <link rel="stylesheet" href="../../plugin/pager/css/pager.css">
    <link rel="stylesheet" href="../../plugin/cropper/cropper.min.css">
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
<div class="page-wrapper">
    <!-- 顶部Bar开始 -->
    @@include("shared/header.html")
    <!-- 顶部Bar结束 -->
    <div class="clearfix"></div>
    <!-- 页面中间部分内容开始 -->
    <div class="page-container">
        <!-- 侧边栏开始 -->
        @@include("shared/operatesliderbar.html")
        <!-- 侧边栏结束 -->
        <!-- 页面主内容开始 -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="page-bar no-border">
                    <h1 class="page-title bold">APP管理</h1>
                </div>
                <!-- 活动查询框结束 -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- 表格开始-->
                        <div id="Header" class="portlet light bordered">
                            <div class="portlet-body" style="min-height:700px; height:auto!important;height:700px; position: relative;padding-bottom: 70px;">
                                <table id="articleList" class="table table-striped table-bordered table-hover table-header-fixed table-layout">
                                    <thead>
                                    <tr class="table-header">
                                        <th>序号</th>
                                        <th width="50%">APP名称</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>

                                    </tr>
                                    </tbody>
                                </table>
                                <div class="row" style="position: absolute;bottom:0;right: 0;">
                                    <span id="pager" class="pager pull-right">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- 表格结束 -->
                    </div>
                </div>
            </div>
        </div>
        <!-- 页面主内容结束 -->
    </div>
    <!-- 页面中间内容部分结束 -->
    <!-- 页脚开始 -->
    @@include("shared/footer.html")
    <!-- 页脚结束 -->
    <!--页面内容获取-->
    <script type="text/html" id="container">
        {{each data as value i}}
        <tr>
            <td>{{i+1}}</td>
            <td class="text-overflow" title="{{value.AppName}}">{{value.AppName}}</td>
             <td><a href="{{'singleAPP.html?id='+value.Id}}">配置</a></td>
        </tr>
        {{/each}}
    </script>
</div>
<!-- 页面内容结束 -->
<!-- 载入全局依赖js -->
<script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../assets/global/scripts/app.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="../../assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="../../plugin/artTemplate/template.js"></script>
<script src="../../plugin/draggabilly/draggabilly.pkgd.min.js"></script>
<script src="../../js/config.js"></script>
<script src="../../js/utils.js"></script>
<script src="../../js/jquery.extend.js"></script>
<script src="../../plugin/toastr/toastr.js"></script>
<script src="../../plugin/jquery-validate/jquery.validate.js"></script>
<script src="../../js/common.js"></script>


<!-- 本页面依赖组件初始化 -->
<script src="../../plugin/pager/jquery-pager.js"></script>
<script src="../../js/bulidingCity/managementApp.js"></script>

<script>
    var managementApp =new ManagementApp();
    managementApp.create();

</script>
</body>

</html>
